<a href="https://colab.research.google.com/github/WhalepigJun/Bigcontest_KBO/blob/master/bigcontest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [10]:
# 개인타자
hitter_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv")
hitter_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv")
hitter_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv")
hitter_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv")
hitter_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv")

#경기
game_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2016.csv", encoding="CP949")
game_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2017.csv", encoding="CP949")
game_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2018.csv", encoding="CP949")
game_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2019.csv", encoding="CP949")
game_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2020.csv", encoding="CP949")

#선수
player_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2016.csv", encoding="CP949")
player_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2017.csv", encoding="CP949")
player_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv", encoding="CP949")
player_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2019.csv", encoding="CP949")
player_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2020.csv", encoding="CP949")

#등록선수
resistered_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2016.csv", encoding="CP949")
resistered_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2017.csv", encoding="CP949")
resistered_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2018.csv", encoding="CP949")
resistered_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2019.csv", encoding="CP949")
resistered_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2020.csv", encoding="CP949")

In [13]:
hitter_2016

                G_ID   GDAY_DS T_ID VS_T_ID  ...  LOB P_HRA_RT  P_AB_CN  P_HIT_CN
0      20160401HHLG0  20160401   HH      LG  ...    1      0.0        0         0
1      20160401HHLG0  20160401   LG      HH  ...    0      0.0        0         0
2      20160401HHLG0  20160401   LG      HH  ...    0      1.0        1         1
3      20160401HHLG0  20160401   LG      HH  ...    0      0.0        0         0
4      20160401HHLG0  20160401   HH      LG  ...    0      0.0        0         0
...              ...       ...  ...     ...  ...  ...      ...      ...       ...
18679  20161009WOLT0  20161009   WO      LT  ...    1      1.0        1         1
18680  20161009WOLT0  20161009   LT      WO  ...    0      0.0        0         0
18681  20161009WOLT0  20161009   WO      LT  ...    0      0.0        1         0
18682  20161009WOLT0  20161009   WO      LT  ...    1      0.0        0         0
18683  20161009WOLT0  20161009   WO      LT  ...    0      0.0        1         0

[18684 rows x 31 columns]