<a href="https://colab.research.google.com/github/WhalepigJun/Bigcontest_KBO/blob/master/bigcontest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 개인타자
hitter_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv")
hitter_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv")
hitter_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv")
hitter_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv")
hitter_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv")

#경기
game_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2016.csv", encoding="CP949")
game_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2017.csv", encoding="CP949")
game_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2018.csv", encoding="CP949")
game_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2019.csv", encoding="CP949")
game_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_경기_2020.csv", encoding="CP949")

#선수
player_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2016.csv", encoding="CP949")
player_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2017.csv", encoding="CP949")
player_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv", encoding="CP949")
player_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2019.csv", encoding="CP949")
player_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_선수_2020.csv", encoding="CP949")

#등록선수
resistered_2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2016.csv", encoding="CP949")
resistered_2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2017.csv", encoding="CP949")
resistered_2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2018.csv", encoding="CP949")
resistered_2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2019.csv", encoding="CP949")
resistered_2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bigcontest/data/sheet_season/2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2020.csv", encoding="CP949")

In [3]:
hitter_2019.head

<bound method NDFrame.head of                 G_ID   GDAY_DS T_ID VS_T_ID  ...  LOB P_HRA_RT  P_AB_CN  P_HIT_CN
0      20190323HHOB0  20190323   HH      OB  ...    0      0.0        0         0
1      20190323HHOB0  20190323   OB      HH  ...    0      0.0        0         0
2      20190323HHOB0  20190323   HH      OB  ...    0      0.0        3         0
3      20190323HHOB0  20190323   HH      OB  ...    0      0.0        1         0
4      20190323HHOB0  20190323   HH      OB  ...    3      0.0        1         0
...              ...       ...  ...     ...  ...  ...      ...      ...       ...
17616  20191001WOLT0  20191001   LT      WO  ...    1      0.0        0         0
17617  20191001WOLT0  20191001   WO      LT  ...    0      0.0        0         0
17618  20191001WOLT0  20191001   LT      WO  ...    1      0.0        0         0
17619  20191001WOLT0  20191001   WO      LT  ...    0      0.0        0         0
17620  20191001WOLT0  20191001   WO      LT  ...    0      0.0        0         0

[17621 rows x 31 columns]>

In [4]:
game_2019.head

<bound method NDFrame.head of               G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM
0    20190323HHOB0  20190323        HH       OB          0     토      잠실
1    20190323KTSK0  20190323        KT       SK          0     토      문학
2    20190323LGHT0  20190323        LG       HT          0     토      광주
3    20190323SSNC0  20190323        SS       NC          0     토      창원
4    20190323WOLT0  20190323        WO       LT          0     토      사직
..             ...       ...       ...      ...        ...   ...     ...
715  20190929WOLT0  20190929        WO       LT          0     일      사직
716  20190930LTLG0  20190930        LT       LG          0     월      잠실
717  20190930SKHH0  20190930        SK       HH          0     월      대전
718  20191001NCOB0  20191001        NC       OB          0     화      잠실
719  20191001WOLT0  20191001        WO       LT          0     화      사직

[720 rows x 7 columns]>

In [5]:
player_2019.head

<bound method NDFrame.head of      GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
0     2019  60100  백창수   HH        외      31   6000만원
1     2019  60140  신정락   HH        투      32  12000만원
2     2019  60146  이승현   SS        투      28   7000만원
3     2019  60181  김지용   LG        투      31  12500만원
4     2019  60184  김창혁   HH        포      28   3000만원
..     ...    ...  ...  ...      ...     ...      ...
651   2019  79705  김회성   HH        내      34   6500만원
652   2019  79764  장민재   HH        투      29   9000만원
653   2019  79825  여건욱   LG        투      33   5300만원
654   2019  79847  김태훈   SK        투      29  18000만원
655   2019  99445  권오준   SS        투      39  15000만원

[656 rows x 7 columns]>

In [6]:
# 개인타자와 게임 데이터를 G_ID를 기준으로 merge
# 후에 필요한 칼럼만 뽑음(게임아이디, 선수아이디, 타수, 안타, 구장)
P_hitter_game_rowdata_2019 = pd.merge(hitter_2019, game_2019, on="G_ID").loc[:,["G_ID", "P_ID", "AB", "HIT", "STADIUM"]]

In [8]:
P_hitter_game_rowdata_2019

                G_ID   P_ID  AB  HIT STADIUM
0      20190323HHOB0  61554   2    0      잠실
1      20190323HHOB0  62244   3    1      잠실
2      20190323HHOB0  62700   4    0      잠실
3      20190323HHOB0  62797   2    0      잠실
4      20190323HHOB0  68730   4    3      잠실
...              ...    ...  ..  ...     ...
17616  20191001WOLT0  77532   5    2      사직
17617  20191001WOLT0  78168   1    0      사직
17618  20191001WOLT0  78513   3    0      사직
17619  20191001WOLT0  79300   0    0      사직
17620  20191001WOLT0  79334   0    0      사직

[17621 rows x 5 columns]

In [9]:
# 결측값 확인
P_hitter_game_rowdata_2019.STADIUM.isnull().sum()

0

In [118]:
# 2019 사용 구장
P_hitter_game_rowdata_2019.loc[:,['P_ID','STADIUM','HIT','AB']].groupby([P_hitter_game_rowdata_2019['STADIUM']]).size()

STADIUM
고척    1678
광주    1778
대구    1571
대전    1571
문학    1725
사직    1678
수원    1810
울산     150
잠실    3534
창원    1796
청주     183
포항     147
dtype: int64

In [127]:
# 타자 구장별 안타, 타수
grouped = P_hitter_game_rowdata_2019.loc[:,['HIT','AB']].groupby([P_hitter_game_rowdata_2019['P_ID'], P_hitter_game_rowdata_2019['STADIUM']])

In [117]:
grouped_stadium.size().index[0]

'고척'

In [145]:
grouped.sum().index

MultiIndex([(60100, '고척'),
            (60100, '대전'),
            (60100, '문학'),
            (60100, '잠실'),
            (60100, '창원'),
            (60100, '청주'),
            (60140, '창원'),
            (60184, '대전'),
            (60184, '창원'),
            (60288, '고척'),
            ...
            (79705, '문학'),
            (79705, '사직'),
            (79705, '수원'),
            (79705, '잠실'),
            (79705, '창원'),
            (79705, '청주'),
            (79825, '잠실'),
            (79847, '고척'),
            (99445, '수원'),
            (99445, '잠실')],
           names=['P_ID', 'STADIUM'], length=2243)

In [142]:
P_AVG_stadium_2019 = pd.DataFrame(index=range(0,len(grouped)), columns=['P_ID', 'STADIUM','AVG'])

In [156]:
# 나지완(78629)의 구장별 성적
P_AVG_stadium_2019[P_AVG_stadium_2019["P_ID"].isin([78629])]

       P_ID STADIUM       AVG
2013  78629      고척  0.200000
2014  78629      광주  0.212121
2015  78629      대구  0.000000
2016  78629      대전  0.000000
2017  78629      문학  0.000000
2018  78629      사직  0.666667
2019  78629      수원  0.076923
2020  78629      잠실  0.250000
2021  78629      창원  0.400000

In [151]:
# 구장별 타율 계산
for i in range(len(grouped)):
  P_AVG_stadium_2019.P_ID[i] = grouped.sum().index[i][0]
  P_AVG_stadium_2019.STADIUM[i] = grouped.sum().index[i][1]
  P_AVG_stadium_2019.AVG[i] = grouped.sum().HIT[i] / grouped.sum().AB[i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.

In [132]:
grouped.sum()

               HIT  AB
P_ID  STADIUM
60100 고척         0   4
      대전         6  22
      문학         0   2
      잠실         2  11
      창원         0   3
...            ...  ..
79705 청주         1   2
79825 잠실         0   0
79847 고척         0   0
99445 수원         0   0
      잠실         0   0

[2243 rows x 2 columns]

In [ ]:
player_avg_67025 = P_hitter_game_rowdata_2019[P_hitter_game_rowdata_2019['P_ID'].isin([67025])]

In [ ]:
player_avg_67025[player_avg_67025['STADIUM'].isin(["문학"])]

In [ ]:
sum(player_avg_67025[player_avg_67025['STADIUM'].isin(["문학"])].HIT) / sum(player_avg_67025[player_avg_67025['STADIUM'].isin(["문학"])].AB)